# Student Loan Risk with Deep Learning

In [1]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from pathlib import Path

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student-loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [2]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/ai/ail-v-1-0/m18/lms/datasets/student-loans.csv"
loans_df = pd.read_csv(file_path)

# Review the DataFrame
loans_df.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0

In [3]:
# Review the data types associated with the columns
loans_df.dtypes

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

In [4]:
# Check the credit_ranking value counts
loans_df["credit_ranking"].value_counts()

credit_ranking
1    855
0    744
Name: count, dtype: int64

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [5]:
# Define the target set y using the credit_ranking column
y = loans_df["credit_ranking"]



# Display a sample of y
y.values

array([0, 0, 0, ..., 1, 0, 1])

In [6]:
# Define features set X by selecting all columns but credit_ranking
X = loans_df.copy()
X = X.drop("credit_ranking", axis=1)    


# Review the features DataFrame
X.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

### Step 3: Split the features and target sets into training and testing datasets.

In [7]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [8]:
# Create a StandardScaler instance
scaler = StandardScaler()


# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)


# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [9]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])


# Review the number of features
number_input_features

11

In [10]:
# Define the number of hidden nodes for the first hidden layer
first_hidden_nodes = 8



# Define the number of hidden nodes for the second hidden layer
second_hidden_nodes = 5


# Define the number of neurons in the output layer
number_output_neurons = 1

In [11]:
# Create the Sequential model instance
nn = Sequential()


# Add the first hidden layer
nn.add(Dense(units=first_hidden_nodes, input_dim=number_input_features, activation="relu"))



# Add the second hidden layer
nn.add(Dense(units=second_hidden_nodes, activation="relu"))



# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation="sigmoid"))

/Users/abduldawson/anaconda3/envs/dev/lib/python3.10/site-packages/keras/src/layers/core/dense.py:86: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [12]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 8)              │            96 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 5)              │            45 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │             6 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 147 (588.00 B)

 Trainable params: 147 (588.00 B)

 Non-trainable params: 0 (0.00 B)

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [13]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Fit the model using 50 epochs and the training data
model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50

38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 543us/step - accuracy: 0.5165 - loss: 0.7128
Epoch 2/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 495us/step - accuracy: 0.5705 - loss: 0.6822
Epoch 3/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 381us/step - accuracy: 0.6660 - loss: 0.6518
Epoch 4/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 299us/step - accuracy: 0.7007 - loss: 0.6270
Epoch 5/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 300us/step - accuracy: 0.7052 - loss: 0.6146
Epoch 6/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 312us/step - accuracy: 0.7104 - loss: 0.5920
Epoch 7/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 296us/step - accuracy: 0.7185 - loss: 0.5851
Epoch 8/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 299us/step - accuracy: 0.6951 - loss: 0.5801
Epoch 9/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 297us/step - accuracy: 0.7565 - loss: 0.5435
Epoch 10/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 292us/step - accuracy: 0.7443 - loss: 0.5386
Epoch 11/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 300us/step - accuracy: 0.7395 - loss: 0.5415
Epoch 12/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 298us/step - accuracy: 0.7284 - loss: 0.5503
Epoch 13/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 303us/step - accuracy: 0.7391 - loss: 0.5271
Epoch 14/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 297us/step - accuracy: 0.7413 - loss: 0.5164
Epoch 15/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 306us/step - accuracy: 0.7425 - loss: 0.5267
Epoch 16/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 299us/step - accuracy: 0.7538 - loss: 0.5084
Epoch 17/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 301us/step - accuracy: 0.7305 - loss: 0.5296
Epoch 18/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 289us/step - accuracy: 0.7377 - loss: 0.5220
Epoch 19/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 546us/step - accuracy: 0.7549 - loss: 0.5104
Epoch 20/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 318us/step - accuracy: 0.7611 - loss: 0.4984
Epoch 21/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 300us/step - accuracy: 0.7573 - loss: 0.5001
Epoch 22/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 299us/step - accuracy: 0.7425 - loss: 0.5136
Epoch 23/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 305us/step - accuracy: 0.7566 - loss: 0.4906
Epoch 24/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 310us/step - accuracy: 0.7711 - loss: 0.4834
Epoch 25/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 293us/step - accuracy: 0.7586 - loss: 0.5020
Epoch 26/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 302us/step - accuracy: 0.7764 - loss: 0.4775
Epoch 27/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 298us/step - accuracy: 0.7581 - loss: 0.4911
Epoch 28/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 300us/step - accuracy: 0.7820 - loss: 0.4752
Epoch 29/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 287us/step - accuracy: 0.7633 - loss: 0.5057
Epoch 30/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 290us/step - accuracy: 0.7697 - loss: 0.4966
Epoch 31/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 295us/step - accuracy: 0.7599 - loss: 0.4904
Epoch 32/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 291us/step - accuracy: 0.7662 - loss: 0.4817
Epoch 33/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 297us/step - accuracy: 0.7750 - loss: 0.4618
Epoch 34/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 297us/step - accuracy: 0.7545 - loss: 0.4933
Epoch 35/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 557us/step - accuracy: 0.7725 - loss: 0.4731
Epoch 36/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 312us/step - accuracy: 0.7722 - loss: 0.4752
Epoch 37/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 327us/step - accuracy: 0.7495 - loss: 0.5156
Epoch 38/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 311us/step - accuracy: 0.7665 - loss: 0.4768
Epoch 39/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 299us/step - accuracy: 0.7706 - loss: 0.4853
Epoch 40/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 295us/step - accuracy: 0.7673 - loss: 0.4765
Epoch 41/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 305us/step - accuracy: 0.7611 - loss: 0.4733
Epoch 42/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 312us/step - accuracy: 0.7767 - loss: 0.4881
Epoch 43/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 303us/step - accuracy: 0.7758 - loss: 0.4650
Epoch 44/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 297us/step - accuracy: 0.7695 - loss: 0.4773
Epoch 45/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 316us/step - accuracy: 0.7389 - loss: 0.5057
Epoch 46/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 307us/step - accuracy: 0.7600 - loss: 0.4738
Epoch 47/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 299us/step - accuracy: 0.7670 - loss: 0.4763
Epoch 48/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 287us/step - accuracy: 0.7653 - loss: 0.4759
Epoch 49/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 566us/step - accuracy: 0.7798 - loss: 0.4762
Epoch 50/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 301us/step - accuracy: 0.7613 - loss: 0.4894

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [15]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test, y_test, verbose=2)


# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

13/13 - 0s - 4ms/step - accuracy: 0.4775 - loss: 12.4163
Loss: 12.416313171386719, Accuracy: 0.47749999165534973

### Step 4: Save and export your model to a keras file, and name the file `student_loans.keras`.

In [16]:
# Set the model's file path
file_path = Path("student_loan_model.h5")


# Export your model to a keras file
nn.save(file_path)

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [17]:
# Set the model's file path
file_path = Path("student_loan_model.h5")


# Load the model to a new object
nn_imported = tf.keras.models.load_model(file_path)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

### Step 2: Make predictions on the testing data and save the predictions to a DataFrame.

In [18]:
# Make predictions with the test data
y_pred = nn_imported.predict(X_test)


# Display a sample of the predictions
y_pred[:5]

13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step

array([[2.6019506e-10],
       [1.5195563e-16],
       [2.3903257e-04],
       [2.2435847e-15],
       [1.3714738e-06]], dtype=float32)

In [19]:
# Save the predictions to a DataFrame and round the predictions to binary results
results = pd.DataFrame(y_test)
results["Predicted"] = y_pred
results["Predicted"] = results["Predicted"].apply(lambda x: 1 if x >= 0.5 else 0)
results[:10]

      credit_ranking  Predicted
75                 0          0
1283               1          0
408                1          0
1281               1          0
1118               1          0
1143               1          0
1215               1          0
181                0          0
1186               0          0
1252               0          0

### Step 4: Display a classification report with the y test data and predictions

In [20]:
# Print the classification report with the y test data and predictions
print(classification_report(results["credit_ranking"], results["Predicted"]))

              precision    recall  f1-score   support

           0       0.47      0.99      0.64       188
           1       0.80      0.02      0.04       212

    accuracy                           0.48       400
   macro avg       0.64      0.51      0.34       400
weighted avg       0.65      0.48      0.32       400

---
## Discuss creating a recommendation system for student loans

Briefly answer the following questions in the space provided:

1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.

2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.

3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.

**1. To create a recommendation system for student loans, relevant data must be collected, including student demographics, academic background, financial information, loan options details, market trends, economic indicators, regulatory changes, user behavior, and feedback. Risk assessment data like credit history and employment prospects is essential. By analyzing this data, the system can offer personalized suggestions tailored to each student's unique circumstances, aiding them in making well-informed decisions regarding their loans.**


**2. The recommendation system uses collaborative, content-based, and context-based filtering to provide accurate and personalized loan recommendations. Collaborative filtering is used to analyze user interaction data, content-based filtering matches options to user preferences based on factors such as interest rates and terms, and context-based filtering tailors recommendations to each student's specific circumstances. The system provides accurate and personalized loan recommendations by combining these three methods, enhancing user experience and decision-making.**

**3. Protecting sensitive personal and financial information is crucial for student loan recommendation systems. Robust data encryption, access controls, and compliance with data protection regulations are necessary to safeguard user privacy and maintain system integrity.**

**Algorithmic bias can lead to disparities in loan options presented to different groups of students. Mitigating bias by auditing, diversifying training data, and incorporating fairness-aware techniques is essential to ensure equitable treatment for all users.**